.card{
    background: rgb(99, 93, 93);
    border: 2px solid black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 900px;
    padding: 12px;
    margin: 5px;
}

.container{
  

}
.image .capsule{
    position: relative;
    z-index: 10;
    bottom: 25px;
    left: 150px;
    color: white;
   
}

.image img{
    width: 200px;
    position: relative;
}
.h1{
    font-size: 25px;
    font-weight: bold
}

.text h1, p{
    padding:  2px 0;
}
