.card{
    background: rgb(99, 93, 93);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 900px;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.img img{
    width: 200px;
}
.h1{
    font-size: 25px;
    font-weight: bold
}

.content h1 p{
    padding:  10px 10px;
    overflow: hidden;
  text-overflow: ellipsis;
    white-space: nowrap;
}
